---
layout: layouts/base.njk
title: Wayan Jimmy - Web Developer
description:  I'm an anime lover, digital hoarder and love to cruise boarding around the city
---
<div class="px-8 py-8 lg:px-64 md:px-32">
  <div class="mb-12">
    <h2 class="mb-4">@wayanjimmy</h2>
    <p>
      I'm Web Developer live in <span class="text-blue-700 font-semibold no-underline cursor-pointer">Jakarta, Indonesia</span> who is interested in <span class="text-blue-700 font-semibold no-underline cursor-pointer">full-stack development</span> and bring <span class="text-blue-700 font-semibold no-underline cursor-pointer">customer happiness</span>. Currently working as a fulltime Backend Engineer for <a href="https://okadoc.com" target="_blank" class="text-blue-700 font-semibold no-underline cursor-pointer">Okadoc</a>.
    </p>
    <p>
      I'm an anime lover, digital hoarder and love to cruise boarding around the city.
    </p>
  </div>
  <div class="mb-12">
    <h2>projects</h2>
    <ul class="list-disc ml-5">
      <li>
        <a class="text-black no-underline hover:underline cursor-pointer" target="_blank" href="https://blog.wayanjimmy.xyz">blog</a> - personal blog in bahasa indonesia
      </li>
      <li>
        <a class="text-black no-underline hover:underline cursor-pointer" target="_blank" href="https://notebook.wayanjimmy.xyz">notebook</a> - personal notes as a knowledge base / knowledge management
      </li>
      <li>
        <a class="text-black no-underline hover:underline cursor-pointer" target="_blank" href="https://github.com/wayanjimmy/thejsway_id">the_js_way</a> - the js way translated into bahasa indonesia
      </li>
      <li>
        <a class="text-black no-underline hover:underline cursor-pointer" target="_blank" href="https://github.com/wayanjimmy/wifian-dibali">wifian_di_bali</a> - listing of public place to work accross bali
      </li>
      <li>
        <a class="text-black no-underline hover:underline cursor-pointer" target="_blank" href="https://github.com/wayanjimmy/grosirobatjs">grosirobat_js</a> - fullstack javascript application built with express & react
      </li>
      <li>
        <a class="text-black no-underline hover:underline cursor-pointer" target="_blank" href="https://github.com/wayanjimmy/ts_algorithms">ts_algorithms</a> - learn computer science and algorithms with typescript
      </li>
    </ul>
  </div>
  <div class="mb-12">
    <h2>contact</h2>
    <ul>
      <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="mail"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="mailto:jimmyeatcrab@gmail.com" rel="me" target="_blank">email</a>
      </li>
      <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="send"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="https://t.me/wayanjimmy" rel="me" target="_blank">telegram</a>
      </li>
       <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="github"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="https://github.com/wayanjimmy" rel="me" target="_blank">github</a>
      </li>
      <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="paperclip"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="https://resume.wayanjimmy.xyz" rel="me" target="_blank">resume</a>
      </li>
      <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="activity"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="https://t.me/s/wayanjimmylog" rel="me" target="_blank">daily_log</a>
      </li>
    </ul>
  </div>
  <div class="mb-12">
    <h2>support me</h2>
    <ul>
      <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="dollar-sign"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="images/gopay.jpeg" target="_blank">gopay</a>
      </li>
      <li class="flex items-center">
        <div class="flex items-center mr-2">
          <i data-feather="dollar-sign"></i>
        </div>
        <a class="text-black no-underline hover:underline" href="https://saweria.co/wayanjimmy" target="_blank">saweria</a>
      </li>
    </ul>
  </div>
</div>
